# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# VSCode
.vscode/
*.code-workspace
package-lock.json

# # MZinga local clone
# mzinga/

#Lab01
lab1-worker/.venv/
mzinga/mzinga-apps/.env

#Lab02
lab2-worker-rest/.venv
