# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# VSCode
.vscode/
*.code-workspace
package-lock.json

# Idea
.idea/

# # MZinga local clone
# mzinga/

#Lab01
lab1-worker/.venv/
mzinga/mzinga-apps/.env

#Lab02
lab2-worker-rest/.venv
lab2-worker-rest/.env
lab2-worker-events/.venv
lab2-worker-events/.env

#Lab03
lab3-worker-observable/.venv
lab3-worker-observable/.env
